[Desktop Entry]
Type=Application
Name=KDE Connect Indicator
Exec=kdeconnect-indicator
Icon=kdeconnect
Terminal=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
